<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Excluindo member de project</div>
                <div class="panel-body">
                    <div class="alert alert-danger" ng-show="error.erro">
                        <h4><strong>Ops!</strong> Ocorreram erros.</h4>
                        <div>{{ error.message }}</div>
                    </div>
                    <h4>Deseja excluir este member do project?</h4>
                    <ul>
                        <li><strong>Member:</strong> {{member.user.data.name}}</li>
                    </ul>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger" ng-click="delete()">Excluir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>