<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Adicionando nota</div>
                <div class="panel-body">
                    <!--
                    <div class="alert alert-danger" ng-show="error.erro">
                        <strong>Ops!</strong> Ocorreram erros.<br><br>
                        <div>{{ error.message }}</div>
                    </div>-->

                    <form class="form-horizontal" name="form" role="form" ng-submit="save()">

                        <div class="form-group" ng-class="{'has-error': !form.title.$valid && form.title.$touched}">
                            <label class="col-md-4 control-label">Titulo</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="title" ng-model="note.title" required>
                                <div ng-messages="form.title.$error" class="help-block" ng-show="!form.title.$valid && form.title.$touched">
                                    <div ng-message="required">Informe o titulo da nota.</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Nota</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="note" ng-model="note.note">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Confirmar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>