<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Lista de arquivos do projeto</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Download</th>
                            <th>AC</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="file in files">
                            <td>{{ file.name }}</td>
                            <td>{{ file.description | limitTo:50 }}...</td>
                            <td>
                                <a ng-href="#/project/{{ file.project_id }}/file/{{ file.id }}/download">Arquivo</a>
                            </td>
                            <td>
                                <a ng-href="#/project/{{ file.project_id }}/file/{{ file.id }}/edit">Editar</a> |
                                <a ng-href="#/project/{{ file.project_id }}/file/{{ file.id }}/delete">Excluir</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>